* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background: #e3eff3;
}
#layout {
  width: 980px;
  margin: auto;
  font-family: tahoma;
  background: white;
}
header {
  height: 165px;
  background: #fff;
  padding: 30px 0 0 25px;
}
nav {
  height: 35px;
  background: #075a7a;
  width: calc(100% - 30px);
  margin: 0 auto;
}
form {
  float: right;
  line-height: 35px;
  padding-right: 30px;
}
nav ul li {
  border-right: 1px solid white;
  list-style: none;
  float: left;
  line-height: 35px;
  padding: 0 30px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
nav ul li a:hover {
  text-decoration: underline;
  color: #e44d26;
}
article {
  clear: both;
  width: 980px;
  height: 578px;
  background: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
footer {
  /* font-variant: small-caps; */
  border-top: 1px solid #cdcdcd;
  width: calc(100% - 30px);
  margin: auto;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #075a7a;
  color: white;
}
/* products */
.product {
  border: 1px solid black;
  width: 30%;
  padding: 20px 16px;
  text-align: center;
  font-size: 16px;
}
.imgsp {
  width: 200px;
  margin: 6px 0;
}
.giagoc {
  color: #808080;
  font-weight: bold;
  text-decoration: line-through;
}
.sale {
  color: red;
  font-weight: bold;
  padding: 4px;
}
.product h4:hover {
  color: red;
}
.product .sale:hover {
  background-color: #075a7a;
  width: 100px;
  margin: auto;
}

/* ===========
khi ma nguoi dung kich vao o tim kiem ( su kien focus kich hoat)
thi thanh tim kiem se tang do rong hoac chieu cao */
input[type="text"] {
  width: 150px; /* chieu rong ban dau */
  height: 25px; /* chieu cao ban dau */
  padding: 5px; /* khoang dem cach giua vien va noi dung */
  /* transition la thuoc tinh de tao hieu ung chuyen doi muot ma
  khi 1 thuoc tinh css thay doi: mau sac, kich thuoc, vi tri, ... */
  transition: 0.5s; /* thoi gian chuyen doi la nua giay */
}

/* khi focus vao thanh tim kiem */
input[type="text"]:focus {
  width: 300px; /* chieu rong tang len khi focus */
  height: 40px; /* chieu cao tang len khi focus */
}

/* lam nhoe tranh */
.imgsp:hover {
  filter: blur(3px); /* lam nhoe anh 5px */
}

/* zoom len khi hover */
.imgsp:hover {
  transform: scale(1.2); /* phong to 1.2 lan */
}

/* khi hover vao anh, anh se quay, lac */
.imgsp:hover {
  transform: rotateY(360deg); /* quay 360 do */
  /* rotateY: xoay trai phai
  rotateX: xoay tren duoi
  rotate: xoay vong */
  transform-style: preserve-3d; /* giu nguyen hinh dang 3D */
  transition: 0.8s; /* thoi gian chuyen doi */
}

/* ve nha tao hieu ung underline khi hover vao menu */

/* ========= */
main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
article {
  width: 290px;
  height: 300px;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: 0 0 30px rgb(0, 0, 0);
  position: relative; /* de thay doi vi tri tuong doi cua phan tu con */
}

article .imgBox {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  text-align: center;
}
article .imgBox .name {
  font-weight: bold;
  margin-bottom: 10px;
}

article .detail {
  position: absolute; /* thay doi vi tri tuong doi */
  /* an xuong duoi */
  bottom: -205px;
  /* cach trai 0 px */
  left: 0;
  /*  chieu rong noi dung bang 90% artice */
  width: 90%;
  /* dem xung quanh 25px */
  padding: 25px;
  /* mau nen */
  background: #fff;
  /* chuyen doi muot ma transition */
  transition: 0.5s;
}

article .detail:hover {
  /*  hien phan tu len */
  bottom: 0;
  top: 0;
}
