/* la css rule cho phep tu dinh nghia font 
chu va sd trong website ngay ca khi font do khong 
co san tren may nguoi dung */
@font-face {
  /* dat ten cho font */
  font-family: "myFont";
  /* lay font trong thu muc font */
  src: url("font/UTM\ Duepuntozero.ttf");
}

.add-font {
  /* goi font */
  font-family: "myFont";
  /* chu in nghieng */
  font-style: italic;
}

/* responsive web design la thiet ke web sao cho tu dong thich ung
tren nhieu thieu bi (PC, table, mobile), dua vao kich thuoc man hinh de thay
doi bo cuc */
/* media queries: cu phap css de ap dung style cho tung kich thuoc man hinh */
/* mac dinh cho PC */
body {
  background-color: violet;
}

/* may tinh bang */
@media (max-width: 768px) {
  body {
    background-color: red;
  }
}

/* dien thoai */
@media (max-width: 480px) {
  body {
    background-color: blue;
  }
}
