header {
  height: 100px;
  background-color: orange;
}

header,
nav,
footer {
  /* can giua chu */
  display: flex;
  justify-content: center;
  align-items: center;
  /* ============== */
}

nav {
  height: 20px;
  background-color: lightblue;
}

/* ================= */
/* su dung float: left */
/* article,
aside {
  float: left;
  height: 500px;
}
.clear {
  clear: both;
}

article {
  width: 70%;
  background-color: green;
}

aside {
  width: 30%;
  background-color: red;
} */

/* su dung display: flex */
main {
  display: flex;
}

article {
  width: 70%;
  height: 500px;
  background-color: green;
}

aside {
  width: 30%;
  height: 500px;
  background-color: red;
}
/* yeu cau ve nha tim hieu ve thuoc tinh justify-content khi su dung display: flex; */
/* tim hieu ve display: grid; */
/* ---==================== */

footer {
  background-color: violet;
  height: 50px;
}
