.ds1 {
  /* thay doi kieu cua danh sach */
  list-style-type: square; /*cham vuong den*/
}

.ds1-con {
  list-style-type: disclosure-closed;
}

/*
POSITION: thuoc tinh dinh vi tri cua 1 phan
tu tren trang web
1. static: gia tri mac dinh cua phan tu khi duoc
tao ra tren trang web
2. relative: dinh vi tri so voi vi tri ban dau
cua no
3. absolute: dinh vi tri so voi the cha gan nhat
co thuoc tinh position khac static
4. fixed: co dinh vi tri cua phan tu
5. sticky: ve nha tim hieu them.
*/

.box1 {
  width: 200px;
  height: 200px;
  background-color: red;
  /* margin-left: 30px; */
  position: relative;
  /* co 4 thuoc tinh thay doi vi tri
  - top: day cach le tren
  - right: day cach le phai
  - bottom: day cach le duoi
  - left: day cach le trai */
  left: 30px;
  /* top: 50px; */
}

.box2 {
  width: 400px;
  height: 400px;
  background-color: green;
  /* the cha co position khac static */
  position: relative;
}

.box2__con {
  width: 100px;
  height: 100px;
  background-color: orange;
  /* thay doi vi tri cu con so voi cha */
  position: absolute;
  right: 0;
  top: 0;
}

.box3 {
  width: 100px;
  height: 100px;
  background-color: violet;
  position: fixed;
  bottom: 0;
  left: 0;
}
