.menu,
.menu-doc {
  display: flex;
  justify-content: center;
  background-color: orange;
  padding: 10px 0;
}

.menu li {
  list-style-type: none;
  padding: 0 10px;
}

.menu-doc li {
  list-style-type: none;
  padding: 10px 10px;
}

.menu li a,
.menu-doc li a {
  text-decoration: none;
}

.menu-doc {
  width: 300px;
  display: block;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  background-color: violet;
}
.sub-menu li {
  padding: 10px 10px;
}

/* hien thi sub-menu khi hover vao the li */
.menu li:hover .sub-menu {
  display: block;
}

.menu li {
  position: relative;
}

/* hover vao tat ca cac the a thi doi mau text */
a:hover {
  color: red;
}
