* {
  padding: 0; /*xoa bo vung dem mac dinh*/
  margin: 0; /*xoa bo khoang cach mac dinh*/
}

body {
  /* can giua layout */
  margin: auto;
  /* thiet lap chieu dai */
  width: 980px;
}

header {
  /* thiet lap chieu cao */
  height: 165px;
}

nav {
  height: 35px;
}
.header__logo {
  /* cach le trai 30px */
  margin-left: 30px;
}

.nav__menu {
  /* cho cac item thanh 1 hang ngang / sap xep theo
  mot chieu ( ngang hoac doc) */
  display: flex;
  /* can chinh vi tri cac item */
  justify-content: left; /*ben trai*/
  /* tao mau nen dong dieu */
  /* background-color: #5151d5; */
  /* tao mau nen đổ */
  background: linear-gradient(to bottom, #5151d5, transparent);
  font-family: tahoma;
}

.nav__menu .nav__menu__item {
  /* đệm trên dưới thêm 10px, trai phải 30px */
  padding: 10px 30px;
  /* bỏ dấu chấm mặc định của thẻ li */
  list-style-type: none;
  /* tạo đường viền dày 1px nét liền màu trắng */
  border-right: 1px solid #fff;
}

.nav__menu .nav__menu__item a {
  /* bỏ gạch chân mặc định của thẻ a */
  text-decoration: none;
  /* thiết lập chữ màu trắng */
  color: #fff;
}

main {
  /*  */
  display: grid;
  /* chia layout 2 cột 7 / 3 */
  grid-template-columns: 7fr 3fr;
  border-bottom: 1px solid #ccc;
}

article {
  background: #d5e8f0;
}

aside .ads__photo .ads__photo__img {
  /* tạo bóng đổ cho box/ thẻ */
  box-shadow: 5px 5px 10px #5151d5;
}

footer {
  /* căn giữa chữ */
  text-align: center;
  padding: 10px 0;
  /* tao do bong cho chu 
  tham so 1: do theo truc x
  tham so 2: do theo truc y
  tham so 3: do mo bong
  tham so 4: mau cua bong*/
  /* tạo bóng đổ cho chữ */
  text-shadow: -5px -5px 5px black;
}

/* ------------------ */
.drag-drop #drag {
  width: 100px;
  height: 100px;
  background-color: red;
}

.drag-drop #drop {
  width: 200px;
  height: 200px;
  border: 2px dashed #ccc;
}
